<ng-template class="" id="staticBackdrop"  data-bs-keyboard="false"
tabindex="-1"  #modal >

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border: 0px;">
        <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: rgb(0, 0, 0);">Enter your Delivery Address</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal(this.modal)"></button>
      </div>
      <div class="modal-body">
        <div class="imtcontainer">
          <div class="img">
            <img [src]="userInfo?.profilePicture" class="user-pic" >
          </div>
          
        </div>
      </div>
      <div class="modal-footer" style="border: 0px;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal(this.modal)">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>

</ng-template>
