<ng-template class="" id="staticBackdrop"  data-bs-keyboard="false"
tabindex="-1"  #modal >

  <div class="modal-dialog">
    <div class="modal-content" width="498px">
      <div class="modal-header" style="border: 0px;">
        <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: rgb(0, 0, 0);">Enter your Delivery Address</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal(this.modal)"></button>
      </div>
      <div class="modal-body">
          <div class="img">
            <img [src]="userInfo?.profilePicture" class="user-pic" style="margin-left: 17px;height: 62px;width: 62px;">

          </div>
            
          </div>
          <br>
          <span style="margin-left: 17px;">Address Line 1:</span> <br>
          <textarea class="form-control" id="address" name="address" style="margin-left: 15px; max-height: 35px;width: 27rem;"
          class="from-control" placeholder="enter your address">
          </textarea>
          <br>
          <span style="margin-left: 17px;">Address Line 2:</span> <br>
          <textarea class="form-control" id="address" name="address" style="margin-left: 15px;max-height: 35px;width: 27rem;"
          class="from-control" placeholder="enter your address">
          </textarea>
          <br>
          <span style="margin-left: 17px;">State:</span> <br>
          <textarea class="form-control" id="state" name="address" style="margin-left: 1rem;max-height: 35px;width: 27rem;"
          class="from-control" placeholder="enter your state">
          </textarea>
          <br>
          <span style="margin-left: 17px;">Pincode:</span> <br>
          <textarea class="form-control" input type="number" max=6 id="Pincode" name="Pincode" style="margin-left: 15px;max-height: 35px;width: 27rem;"
          class="from-control" placeholder="enter your Pincode">
          </textarea>
          <br>
          <span style="margin-left: 17px;">Phone Number:</span> <br>
          <textarea class="form-control" id="state" name="address" style="margin-left: 15px;max-height: 35px;width: 27rem;"
          class="from-control" placeholder="enter your state">
          </textarea>
          <br>
          <span style="margin-left: 17px;">Landmark:</span> <br>
          <textarea class="form-control" id="state" name="address" style="margin-left: 15px;max-height: 35px;width: 27rem;"
          class="from-control" placeholder="enter your state">
          </textarea>
      </div>
      <div class="modal-footer" style="border: 0px;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal(this.modal)">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
      </div>
    </div>

</ng-template>
