<ng-container >
  <div class="card_cust">
    <img class="cake-image-card" [src]="cake.photoUrl " alt="">
    <div style="margin-left: 25px;">
      <h2 style="color: black;">{{cake.name}}</h2>

    <span style="color: black;">{{cake.size}}</span>
    <br>
    <span style="color: black;">₹{{cake.price}}</span>
    <br>
    <span style="color: black;">{{cake.description}}</span>
    <br>
    <span style="color: black;">{{cake.category}}</span>
    <br>
    <span style="color: black;">{{cake.theme}}</span>
    </div>
  </div>
</ng-container>
