<ng-container >
  <div class="card_cust">

    <i class="fa-solid fa-arrow-up-right-from-square" (click)="goToPostPage()"
    style="position: absolute;margin-left: 351px;margin-top: 25px;font-size: 2rem"></i>
    <i class="fa-solid fa-cart-plus" (click)="addTocart()"
    style="position: absolute;margin-left: 345px;margin-top: 90px;font-size: 2rem;"></i>
    <img class="cake-image-card" [src]="cake?.photoUrl " alt="">
    <div style="margin-left: 25px;">
      <h2 style="color: black;">{{cake?.name}}</h2>

    <span style="color: black;">{{cake?.size}}</span>
    <br>
    <span style="color: black;">₹{{cake?.price}}</span>
    <br>
    <span style="color: black;">{{cake?.description}}</span>
    <br>
    <span style="color: black;">{{cake?.category}}</span>
    <br>
    <span style="color: black;">{{cake?.theme}}</span>
    </div>
  </div>
</ng-container>
