<ng-container>
  <div class="card_cust">

    <img class="cake-image-card" [src]="cake?.photoUrl " alt="">
    <div style="display: flex;justify-content: space-around;margin-top: 15px;">
      <i class="fa-solid fa-arrow-up-right-from-square" (click)="goToItemPage()" style="font-size: 2rem"></i>
      <i class="fa-solid fa-cart-plus" (click)="addTocart()" style="font-size: 2rem;"></i>
    </div>
    <div style="margin-left: 25px;">
      <h2 style="color: black;">{{cake?.name}}</h2>

      <span style="color: black;">{{cake?.size}}</span>
      <br>
      <span style="color: black;">₹{{cake?.price}}</span>
      <br>
      <span style="color: black;">{{cake?.description}}</span>
      <br>
      <span style="color: black;">{{cake?.category}}</span>
      <br>
      <span style="color: black;">{{cake?.theme}}</span>
    </div>
  </div>
</ng-container>
