.rounded-circle {
  width: 6vmin;
  height: 6vmin;
}

.modal-css-extra-H {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.modal-text-colour {
  color: whitesmoke;
  margin-left: 15px;
}

.pointer {
  cursor: pointer;
}


carousel img {
  /* content: './../../asset/bg/bg.jpg'; */
  height: auto;
  width: auto;
  display: none;
  /* background: grey; */
  animation: sk-loading 1s linear infinite alternate;
}

@keyframes sk-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.card_cust {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 570px;
  background-color:#eeeeee;
  border-radius: 5px;
  cursor:pointer;
  position: relative;
}
.cake-image-card{
  height:270px;
  width:270px;
  margin-top: 25px;
  margin-left:62px;
  border-radius: 10px;
}
