<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
<div style="min-width: 250px;margin-left: -6rem">
  <!-- <pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre> -->
<input [(ngModel)]="selected"
       class="form-control" placeholder="Search" (keyup)="searchCakes()">
      <div class="searchResults" #dropdown>
      <div class="row" *ngFor="let item of searchResults" (click)="onclick(item.id)">
        <div class="col">
          <div class="profile-image">
            <img [src]="item.photoUrl" referrerpolicy="no-referrer" />
          </div>
          <div class="profile-username">{{item.name}}</div>
        </div>
      </div>
    </div>
</div>





