.button {
  display: inline-block;
  background-color: #697663;
  padding: 12px 25px;
  color: white;
  margin-top: 40px;
  text-decoration: none;
  border: 2px solid #697663;
  border-radius: 25px;
  transition: all 0.2s ease-out;
}
