<ng-container>
  <p-table [columns]="cols" [value]="cakes" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.id }}</td>
        <td>
          <input [(ngModel)]="product.name" type="text">
        </td>
        <td>
          <textarea [(ngModel)]="product.description"></textarea>
        </td>
        <td>
          <input [(ngModel)]="product.price" type="number">
        </td>
        <td>
          <input [(ngModel)]="product.size" type="text">
        </td>
        <td>
          <input [(ngModel)]="product.category" type="text">
        </td>
        <td>
          <input [(ngModel)]="product.theme" type="text">
        </td>
        <td>
          <input [(ngModel)]="product.tags" type="text">
        </td>
        <td>{{ product.photoUrl }}</td>
      </tr>
      <div style="display: flex;">
      <button type="submit" class="button" (click)="editCake(product)" >Save</button>
      <button type="submit" class="button" (click)="deleteCake(product)" >Delete</button>
      </div>
    </ng-template>
  </p-table>
  <p-toast position='bottom-right'></p-toast>
</ng-container>
