<main class="page">
  <h1 style="margin-left: 150px;">Your Orders</h1>

  <div style="display: flex;margin-left: 150px;margin-top: 25px;">
    <div class="flex align-items-center">
      <p-radioButton name="pizza" value="All Orders" [(ngModel)]="tabSeleted" inputId="ingredient1"
      (click)="getOrders()"></p-radioButton>
      <label for="ingredient1" class="ml-2" style="margin-left:15px">All Orders</label>
    </div>

    <div class="flex align-items-center" style="margin-left: 50px;">
      <p-radioButton name="pizza" value="Previous Orders" [(ngModel)]="tabSeleted" inputId="ingredient2"
      (click)="orderList=orderHistory"></p-radioButton>
      <label for="ingredient2" class="ml-2" style="margin-left:15px">Previous Orders</label>
    </div>

    <div class="flex align-items-center" style="margin-left: 50px;">
      <p-radioButton name="pizza" value="Upcoming Orders" [(ngModel)]="tabSeleted" inputId="ingredient3"
      (click)="orderList=orderPending"></p-radioButton>
      <label for="ingredient3" class="ml-2" style="margin-left:15px">Upcoming Orders</label>
    </div>
  </div>

  <div class="shopping-cart">

    <div style="display: flex;flex-direction: column;height:auto;;border-radius: 5px;overflow-y: auto; margin-top: 50px;">

      <ng-container *ngFor="let order of orderList;let i = index">
        <div class="order-card">
          <div class="order-header">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <span>Order placed on</span>
                  <br>
                  <span>{{utcToLocal(order.createdAt)}}</span>
                </div>
                <div class="col-sm">
                  <span>Total</span>
                  <br>
                  <span>₹{{order.total+100}}</span>
                </div>
                <div class="col-sm">
                  <span>Order reference id</span>
                  <br>
                  <span>Id: {{order.id}}</span>
                </div>
                <div class="col-sm">
                  <span>Status</span>
                  <br>
                  <span>{{order.status}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="order-body">
            <div class="column-labels">
              <label class="product-price" style="margin-left: 666px;width:100px">Price</label>
              <label class="product-quantity" style="margin-left: 40px;">Quantity</label>
            </div>
            <div style="display: flex;">
            <div style="width:auto;min-width:72rem ;">
            <ng-container *ngFor="let item of order.items;">
              <div class="product">
                <div class="product-image">
                  <img class='item-image' [src]="item.photoUrl">
                </div>
                <div class="product-details">
                  <div class="product-title">{{item.name}}</div>
                  <p class="product-description">{{item.description}}</p>
                </div>
                <div class="product-price">{{item.price}}</div>
                <div class="product-quantity">
                  <span>Quantity: {{item.quantity}}</span>
                </div>
                <div class="product-line-price">{{item.quantity*item.price}}</div>
              </div>
            </ng-container>
          </div>
          <div style="margin-left: 50px;">
            <p-timeline [value]="selectedElements(order.status)">
              <ng-template pTemplate="marker" let-event>
                <span [style.backgroundColor]="event.color" style="border-radius: 53px;height: 25px;width: 25px;">
                    <i style="margin-left: 5px;margin-top: 4px;" [ngClass]="event.icon"></i>
                </span>
              </ng-template>
              <ng-template pTemplate="content" let-event>
                  <small class="p-text-secondary" style="opacity: 0;">{{ event.date }}</small>
              </ng-template>
              <ng-template pTemplate="opposite" let-event>
                  {{ event.status }}
              </ng-template>
            </p-timeline>
          </div>
          </div>
          </div>
          <div class="order-footer">
          </div>
        </div>
      </ng-container>

    </div>

  </div>

</main>

