<main id="main">

  <!-- new -->
  <div class="container p-0" style="color: antiquewhite;">
    <h1 class="h3 mb-3" style="color: antiquewhite;position: absolute;left: 40px;">Settings</h1>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-5 col-xl-4">
        <div class="card">
          <!-- <div class="card-header">
            <h5 class="card-title mb-0">Profile Settings</h5>
          </div> -->

            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link" [class.active]="this.tab=='account-settings'" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" >Account settings</button>
              <button class="nav-link" [class.active]="this.tab=='chat-settings'" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" >Add a cake</button>
            </div>
            <!-- <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">abc</div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">xyz</div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
            </div> -->

        </div>
      </div>
      <div class="col-md-7 col-xl-8">
        <div class="tab-content">
          <div class="tab-pane fade" [class.show]="this.tab=='account-settings'" [class.active]="this.tab=='account-settings'" role="tabpanel" id="v-pills-home" aria-labelledby="v-pills-home-tab">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">Change Username</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row1">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="{{userparsed?.name}}" [(ngModel)]="newUserName" [ngModelOptions]="{standalone: true}">
                      </div>

                    </div>

                  </div>
                  <button type="submit" class="button" (click)="changeName()">Save changes</button>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">Address info</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputFirstName">Username</label>
                      <input type="text" class="form-control disabled" id="inputFirstName"  value={{userInfo.name}} readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control disabled" id="inputEmail4" value={{userInfo.gmailId}} disabled>
                  </div>
                  <div class="form-group">
                    <label for="inputPhn">Contact no</label>
                    <input type="text" class="form-control" id="inputPhn" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="inputLocality">Locality</label>
                    <input type="text" [typeahead]="indianStates" class="form-control" id="inputLocality" [isAnimated]="true" [(ngModel)]="info.Country" value={{info.Country}}>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Full Address</label>
                    <input type="text" [typeahead]="gender" class="form-control" id="inputAddress" [isAnimated]="true" [(ngModel)]="info.Gender" value={{info.Gender}}>
                  </div>
                  <div class="form-group">
                    <label for="inputZip">Pin code</label>
                    <input type="text" [typeahead]="gender" class="form-control" id="inputZip" [isAnimated]="true" [(ngModel)]="info.Gender" value={{info.Gender}}>
                  </div>

                  <button type="submit" class="button">Save changes</button>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade "[class.show]="this.tab=='chat-settings'" [class.active]="this.tab=='chat-settings'" role="tabpanel" id="v-pills-settings" aria-labelledby="v-pills-settings-tab">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Add a new cake</h5>
                  <app-chat-settings></app-chat-settings>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
