<main id="main">

  <!-- new -->
  <div class="container p-0" style="color: antiquewhite;">
    <h1 class="h3 mb-3" style="color: antiquewhite;position: absolute;left: 40px;">Settings</h1>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-5 col-xl-4" style="margin-left: 180px;min-width: 262px;max-width: 265px;">
        <div class="card">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link active"  id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" >Account settings</button>
              <button *ngIf="userparsed?.isAdmin" class="nav-link"  id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add-cake" type="button" role="tab" aria-controls="v-pills-settings" >Add a cake</button>
              <button *ngIf="userparsed?.isAdmin" class="nav-link"  id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-incoming-orders" type="button" role="tab" aria-controls="v-pills-settings" >Incoming Orders</button>
            </div>
        </div>
      </div>
      <div class="col-md-7 col-xl-8">
        <div class="tab-content">
          <div class="tab-pane fade active show"  role="tabpanel" id="v-pills-home" aria-labelledby="v-pills-home-tab">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">Change Username</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row1">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="{{userparsed?.name}}" [(ngModel)]="newUserName" [ngModelOptions]="{standalone: true}">
                      </div>

                    </div>

                  </div>
                  <button type="submit" class="button" (click)="changeName()">Save changes</button>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">Address info</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-row" >
                    <div class="form-group col-md-6">
                      <label for="inputFirstName">Username</label>
                      <input type="text" class="form-control disabled" id="inputFirstName"  value={{userInfo.name}} readonly >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control disabled" id="inputEmail4" value={{userInfo.gmailId}} disabled>
                  </div>
                  <div class="form-group">
                    <label for="inputPhn">Contact no</label>
                    <input type="text" class="form-control" id="inputPhn" placeholder="" [(ngModel)]="info.Phoneno" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <label for="inputLocality">Locality</label>
                    <input type="text"  class="form-control" id="inputLocality"  [(ngModel)]="info.Locality" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <label for="inputLandmark">Landmark</label>
                    <input type="text"  class="form-control" id="inputLandmark"  [(ngModel)]="info.Landmark" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Full Address</label>
                    <input type="text"  class="form-control" id="inputAddress" [(ngModel)]="info.Address" [ngModelOptions]="{standalone: true}" >
                  </div>
                  <div class="form-group">
                    <label for="inputZip">Pin code</label>
                    <input type="text"  class="form-control" id="inputZip" [(ngModel)]="info.zipcode" [ngModelOptions]="{standalone: true}">
                  </div>

                  <button type="submit" class="button" (click)="updateinfo()">Save changes</button>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade " role="tabpanel" id="v-pills-add-cake" aria-labelledby="v-pills-settings-tab">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Add a new cake</h5>
                 <app-add-cake></app-add-cake>
              </div>
            </div>
          </div>
          <div class="tab-pane fade " role="tabpanel" id="v-pills-incoming-orders" aria-labelledby="v-pills-settings-tab">
            <div class="card" style="background-color: aliceblue;min-width: 80rem;">
              <div class="card-body">
                <h5 class="card-title" style="color: black;">View Incoming Orders</h5>
                 <app-incoming-orders></app-incoming-orders>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
