<main>
  <div>
    <nav class="nav-bg">
      <!-- <img src="./../../assets/icon-resource/cake-atelier.png" class="logo"> -->
      <img src="./../../assets/icon-resource/logo5.png" style="width: 300px;height:60px;">
      <img src="./../../assets/icon-resource/map1.png" style="margin-left:15px;width:40px;height:40px;cursor:pointer" class="logo" [routerLink]="['/settings']" routerLinkActive="router-link-active">
      <app-app-search></app-app-search>
      <ul style="margin-left: 0rem;" [routerLink]="['/home']"><img class="homeicon" src="./../../assets/icon-resource/home1.png" style="height: 2rem;width: 2rem;"><a class="nav-btn" style="color: rgb(0, 0, 0);"
          >Home</a></ul>

      <ul (click)="onchatClicked()"><img class="homeicon" src="./../../assets/icon-resource/chat1.png" style="height: 2rem;width: 2rem;"><a class="nav-btn" style="align-items: center;" >Chat</a>
        <div class="wrapper">
          <i *ngIf="noti" class="fa fa-bell icon"></i>
        </div>
      </ul>
      <ul *ngIf="userparsed">
        <div class="notification">
          <div class="notBtn" href="#">
            <!--Number supports double digits and automaticly hides itself when there is nothing between divs -->
            <div class="number" *ngIf="notificationArray?.length!=0">{{notificationArray?.length}}</div>
            <i ><img class="notiicon" src="./../../assets/icon-resource/noti.png" #togglenoti (click)="toggleNotiDropDown()"></i>
          </div>
        </div>
      </ul>
      <ul>
        <div (click)="goToCart()" style="cursor: pointer;" >
          <img src="./../../assets/icon-resource/cupcakes.png" class="logo">
          <span class="cart-count">{{cart?.length}}</span>Cart
        </div>
      </ul>
      <div class="noti-menu-wrap"  #notiMenu [ngClass]="notiShow?'open-menu':''">
        <div style="color: rgb(0, 0, 0);left: 20px;font-weight: 650;font-size: x-large;position: relative;top: 10px;">
          Notifications</div>
        <div class="noti-menu" >
              <div class="display">
                <div class="cont"><!-- Fold this div and try deleting evrything inbetween -->
                  <div class="sec new" *ngIf="notificationArray?.length!=0;else elseblock">
                    <div *ngFor="let noti of notificationArray;let i= index">
                      <ng-container *ngIf="noti.notiType=='frnd req'">
                        <div class="frnd-noti">
                          <div class="noti-img" (click)="onclick(noti.sender)" style="cursor: pointer;">
                            <img [src]="noti.profileurl" class="img-sk" referrerpolicy="no-referrer" />
                          </div>
                          <div class="accpt-rej-btns">
                            <div style="color: rgb(227, 213, 213);margin-top: 10px;"> {{noti.userName}} sent you a friend request</div>
                            <div style="margin-bottom: 5px;">

                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="noti.notiType=='poke'">
                        <div class="frnd-noti">
                          <div class="noti-img" (click)="onclick(noti.sender)" style="cursor: pointer;">
                            <img [src]="noti.profileurl" class="img-sk" referrerpolicy="no-referrer" />
                          </div>
                          <div class="accpt-rej-btns">
                            <div style="color: rgb(227, 213, 213);margin-top: 10px;">You've been poked by {{noti.userName}}{{i}} </div>
                          </div>
                          <button type="button" class="btn-close" (click)="notiDismiss(i)" style="height: 25px;width: 25px;margin-right: 25px;margin-top: 10px;" ></button>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="noti.notiType=='frndReqAcc'">
                        <div class="frnd-noti">

                          <div class="noti-img" (click)="onclick(noti.sender)" style="cursor: pointer;">
                            <img [src]="noti.profileurl" class="img-sk" referrerpolicy="no-referrer" />
                          </div>
                          <div class="accpt-rej-btns">
                            <div style="color: rgb(227, 213, 213);margin-top: 10px;"> {{noti.userName}} accepted your friend request</div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="noti.notiType=='new comment'">
                        <div class="frnd-noti">

                          <div class="noti-img" (click)="onclick(noti.sender)" style="cursor: pointer;">
                            <img [src]="noti.profileurl" class="img-sk" referrerpolicy="no-referrer" />
                          </div>
                          <div class="accpt-rej-btns" style="cursor: pointer;" (click)="goToPost(noti.data.postId,i)">
                            <div style="color: rgb(227, 213, 213);margin-top: 10px;"> {{noti.userName}} commented on your post</div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="noti.notiType=='new mention'">
                        <div class="frnd-noti">

                          <div class="noti-img" (click)="onclick(noti.sender)" style="cursor: pointer;">
                            <img [src]="noti.profileurl" class="img-sk" referrerpolicy="no-referrer" />
                          </div>
                          <div class="accpt-rej-btns">
                            <div style="color: rgb(227, 213, 213);margin-top: 10px;"> {{noti.userName}} mentioned you in a new post</div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <ng-template #elseblock>
                    <div class="new sec" style="justify-content: center;align-items: center;">
                      <span style="color: aliceblue;">You have no new notifications</span>
                    </div>
                  </ng-template>
                </div>
              </div>
        </div>
      </div>

      <div *ngIf="userparsed">
        <img [src]="userInfo?.profilePicture" #toggleButton class="user-pic" (click)="toggleMenu()"
          referrerpolicy="no-referrer">
      </div>
      <div *ngIf="!userparsed" (click)="user.login()" style="cursor:pointer">
        <img src="./../../assets/icon-resource/profile1.png" class="logo">
        Login/Register
      </div>
      <div class="sub-menu-wrap" id="subMenu" #menu [ngClass]="show?'open-menu':''">
        <div class="sub-menu" id="openmenu">
          <div class="user-info" href="#" style="cursor: pointer;">
            <div class="profiledp">
              <img [src]="userInfo?.profilePicture">
            </div>
            <h3>{{userInfo?.name}}</h3>
          </div>
          <hr>
          <a href="#" [routerLink]="['/settings']" routerLinkActive="router-link-active" class="sub-menu-link">
            <img src="./../../assets/icon-resource/setting2.png">
            <p>Settings</p>
          </a>
          <a href="#" [routerLink]="['/orders']" routerLinkActive="router-link-active" class="sub-menu-link">
            <img src="./../../assets/icon-resource/checklist.png">
            <p>Your Orders</p>
          </a>
          <a href="#" class="sub-menu-link">
            <img src="./../../assets/icon-resource/help1.png">
            <p>Help & Support</p>
          </a>
          <a (click)="user.logout()" href="#" class="sub-menu-link">
            <img src="./../../assets/icon-resource/logout2.png">
            <p>Logout</p>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <p-toast position='bottom-right'></p-toast>
</main>
