<div style="display: flex;margin-left: 150px;margin-top: 25px;">
  <div class="flex align-items-center">
    <p-radioButton name="pizza" value="All Orders" [(ngModel)]="tabSeleted" inputId="ingredient1"
    (click)="orderPending=orderList"></p-radioButton>
    <label for="ingredient1" class="ml-2" style="margin-left:15px">All Orders</label>
  </div>

  <div class="flex align-items-center" style="margin-left: 50px;">
    <p-radioButton name="pizza" value="Previous Orders" [(ngModel)]="tabSeleted" inputId="ingredient2"
    (click)="orderPending=orderHistory"></p-radioButton>
    <label for="ingredient2" class="ml-2" style="margin-left:15px">Previous Orders</label>
  </div>

  <div class="flex align-items-center" style="margin-left: 50px;">
    <p-radioButton name="pizza" value="Upcoming Orders" [(ngModel)]="tabSeleted" inputId="ingredient3"
    (click)="getOrders()"></p-radioButton>
    <label for="ingredient3" class="ml-2" style="margin-left:15px">Upcoming Orders</label>
  </div>
</div>

<div class="shopping-cart">

  <div style="display: flex;flex-direction: column;height:auto;;border-radius: 5px;overflow-y: auto; margin-top: 50px;">

    <ng-container *ngFor="let order of orderPending;let i = index">

      <div class="order-card" style="color: black;">
        <div class="order-header">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <span >Order placed on</span>
                <br>
                <span>{{utcToLocal(order.createdAt)}}</span>
              </div>
              <div class="col-sm">
                <span>Total</span>
                <br>
                <span>₹{{order.total+100}}</span>
              </div>
              <div class="col-sm">
                <span>Order reference id</span>
                <br>
                <span>Id: {{order.id}}</span>
              </div>
              <div class="col-sm">
                <span>Status</span>
                <br>
                <span>{{order.status}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="order-body">
          <div class="column-labels">
            <label class="product-image">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Price</label>
            <label class="product-quantity">Quantity</label>
          </div>
          <span style="color:black;margin-left:25px">Ordered By</span>
        <div style="display: flex;margin-left: 25px;">
          <img class="user-pic" [src]="order.user.profilePicture" alt="">
          <div>
            <span style="color:black;margin-left: 15px;">{{order.user.name}}</span>
            <button style="margin-left: 90px;" type="submit" class="button" (click)="goToUserChat(order.user.id)">Chat with this User</button>
          </div>
        </div>
          <ng-container *ngFor="let item of order.items;">
            <div class="product">
              <div class="product-image">
                <img class='item-image' [src]="item.photoUrl">
              </div>
              <div class="product-details" style="margin-top: 50px;">
                <div class="product-title">{{item.name}}</div>
                <span>{{item.veg.name}}</span>
                <br>
                <span>{{item.flavour.name}}</span>
              </div>
              <div class="product-price" style="margin-top: 50px;">{{item.price}}</div>
              <div class="product-quantity" style="margin-top: 50px;">
                <span>Quantity: {{item.quantity}}</span>
              </div>
              <div class="product-line-price" style="margin-top: 50px;">{{item.quantity*item.price}}</div>

            </div>
          </ng-container>
          <div style="margin-left: 50rem;">Order Total: {{order.total}}</div>
        </div>
        <div class="order-footer">
          <div style="display: flex;margin-left: 150px;margin-top: 10px;">
            <div class="check-boxes" style="margin-left: 15px;">
              <p-radioButton name="accept" value="Accepted" [(ngModel)]="order.status" inputId="ingredient1"
               (click)="updateOrderStatus(order)"></p-radioButton>
              <label style="margin-left: 15px;color:black" for="ingredient1" class="ml-2">Accepted</label>
            </div>
            <div class="check-boxes " style="margin-left: 15px;">
              <p-radioButton name="pizza" value="Prepping" [(ngModel)]="order.status" inputId="ingredient2"
              (click)="updateOrderStatus(order)"></p-radioButton>
              <label style="margin-left: 15px;color:black" for="ingredient2" class="ml-2">Prepping</label>
            </div>
            <div class="check-boxes" style="margin-left: 15px;">
              <p-radioButton name="pizza" value="Out for delivery" [(ngModel)]="order.status" inputId="ingredient3"
              (click)="updateOrderStatus(order)"></p-radioButton>
              <label style="margin-left: 15px;color:black" for="ingredient3" class="ml-2">Out for delivery</label>
            </div>
            <div class="check-boxes" style="margin-left: 15px;">
              <p-radioButton name="pizza" value="Delivered" [(ngModel)]="order.status" inputId="ingredient4"
              (click)="updateOrderStatus(order)"></p-radioButton>
              <label style="margin-left: 15px;color:black" for="ingredient4" class="ml-2">Delivered</label>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>

</div>




