<main class="page" >
  <h1 style="margin-left: 150px;">Shopping Cart</h1>

<div class="shopping-cart" *ngIf="this.cart?.length!=0">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>
  <div style="display: flex;flex-direction: column;height:auto;border:2px solid red;
  border-radius: 5px;
  overflow-y: auto;min-height: 30rem;">
  <ng-container *ngFor="let item of cart;let i = index" >
    <div class="product">
      <div class="product-image">
        <img [src]="item.photoUrl">
      </div>
      <div class="product-details">
        <div class="product-title">{{item.name}}</div>
        <p class="product-description">{{item.description}}</p>
        <div style="display: flex;" (click)="select()">

          <p-dropdown  [(ngModel)]="item.veg" [options]="veg" optionLabel="name" ></p-dropdown>

          <p-dropdown  [(ngModel)]="item.flavour" [options]="flavours" optionLabel="name"></p-dropdown>

      </div>
      </div>
      <div class="product-price">{{item.price}}</div>
      <div class="product-quantity">
        <input type="number" [(ngModel)]="item.quantity" (keydown)="onKeyDown($event,i)" min="1" (click)="changeQuantity()">
      </div>
      <div class="product-removal" (click)="removeItem(i)">
        <button class="remove-product">
          Remove
        </button>
      </div>
      <div class="product-line-price">{{item.quantity*item.price}}</div>
    </div>
  </ng-container>
  <div style="display: flex;min-width: 55rem;">
  <span class="p-float-label">
    <textarea id="float-input" [(ngModel)]="requests" rows="5" cols="30" pInputTextarea></textarea>
    <label for="float-input">Special requests if any!!</label>
  </span>
  <div style="margin-left: 150px;">
    <p-calendar [(ngModel)]="date" dateFormat="dd/mm/yy" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" placeholder="Select Delivery Date"></p-calendar>
  </div>
</div>
</div>
  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">{{totalPrice}}</div>
    </div>

    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">100</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">{{totalPrice+100}}</div>
    </div>
  </div>
      <button class="checkout" style="margin-bottom: 25px;" (click)="checkOut()">Place Order</button>
</div>
<ng-container *ngIf="this.cart?.length===0">
  <h2 style="margin-left: 500px;">Your cart seems to be empty!!!</h2>

  <a style="margin-left: 500px;font-size: x-large;" [routerLink]="['/store-page']" routerLinkActive="router-link-active">
    <img src="https://i.giphy.com/media/VIWIoLiKYVtoIx1eu4/giphy.webp" alt="">
    <span>Here....head over to our store page to browse our offerings!!</span>
  </a>
</ng-container>
<p-toast position='bottom-right'></p-toast>
</main>
