<main class="page">
      <nav style="margin-top: -0.21rem;">
        <div class="nav-fostrap">
          <ul>
            <li class="flavours"><a >Flavours<span class="arrow-down"></span></a>
              <div class="flavours-menu">
                <span>works</span>
              </div>
            </li>

            <li class="categories"><a >Categories<span class="arrow-down"></span></a>
              <div class="categories-menu">
                <span>works</span>
              </div>
            </li>

            <li class="popular"><a>Popular<span class="arrow-down"></span></a>
              <div class="popular-menu">
                <span>works</span>
              </div>
            </li>

            <li class="theme"><a>Theme<span class="arrow-down"></span></a>
              <div class="theme-menu">
                <span>works</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="nav-bg-fostrap">
          <div class="navbar-fostrap"> <span></span> <span></span> <span></span> </div>
          <a href="" class="title-mobile">Fostrap</a>
        </div>
      </nav>

      <div style="height: 30rem;border: 2px solid red;
      transition: all 2s;background-image: url('{{carosleUrl}}');background-repeat: no-repeat; background-attachment: fixed;
  background-size: cover;">
        <div class="caroselslider">
          <img src="./../../assets/icon-resource/atelier-text.png">
        </div>
      </div>


      <div style="width:auto;height:40rem;margin-top: 25px;">
        <p-carousel [value]="cakes" [numVisible]="4" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item">
              <app-cake [cake]="product"></app-cake>
          </ng-template>
      </p-carousel>
      </div>




      <footer role="contentinfo" aria-label="Footer">
        <div class="_cont">
          <div class="socials">
            <strong>follow us:</strong>
            <ul>
              <li><a  title="html-koder / test on Twitter" class="tw" target="_blank">Twitter</a></li>
              <li><a  title="html-koder / test on Facebook" class="fb" target="_blank">Facebook</a></li>
              <li><a  title="html-koder / test on Instagram" class="in" target="_blank">Instagram</a></li>
              <li><a  title="html-koder / test on Pinterest" class="pi" target="_blank">Pinterest</a></li>
            </ul>
          </div>
          <div class="top">
            <div class="right">
              <form method="post" action="/contact" class="contact-form" accept-charset="UTF-8">
                <input type="hidden" value="customer" name="form_type" /><input type="hidden" name="utf8" value="✓" />
                <div>
                  <input type="hidden" id="contact_tags" name="contact[tags]" value="newsletter"/>
                  <input type="text" id="contact_email" name="contact[email]" placeholder="Submit e-mail for special offers...">
                  <button type="submit" title="Newsletter Signup">OK</button>
                </div>
              </form>
            </div>
            <div class="left">
              <span class="phone">+420 123 456 789</span>
              <a class="mail" href="mailto:email.from@settings.com">email.from@settings.com</a>
            </div>
          </div>
          <div class="bottom">
            <div class="left">
              <nav role="navigation" aria-label="Service menu">
                <ul>
                  <li><a >Lorem ipsum</a></li>
                  <li><a >About Us</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </footer>
</main>
