<main class="page">
      <nav style="margin-top: -0.21rem;">
        <div class="nav-fostrap">
          <ul>
            <li class="flavours"><a style="color: black;">Flavours<span class="arrow-down"></span></a>
              <div class="flavours-menu">
                  <div class="flavours-child">
                    <div class="flavours-item">
                      <button (mouseenter)="onHover('Mango')" (click)="goToStore('Mango')">Mango Cakes</button><br>
                      <button (mouseenter)="onHover('forest')" (click)="goToStore('forest')">Black Forest Cakes</button><br>
                      <button (mouseenter)="onHover('Chocolate')" (click)="goToStore('Chocolate')">Chocolate Cakes</button><br>
                      <button (mouseenter)="onHover('Butterscotch')" (click)="goToStore('Butterscotch')">Butterscotch Cakes</button><br>
                      <button (mouseenter)="onHover('Strawberry')" (click)="goToStore('Strawberry')">Strawberry Cakes</button><br>
                    </div>
                  </div>
                  <div class="vertical-line"></div>
                  <div class="flavours-child">
                    <div class="flavours-image"style>
                      <img class="hover-img" [src]="hoverUrl" [alt]="hoverAlt" >

                    </div>
                  </div>
              </div>


            </li>

            <li class="categories"><a style="color: black;">Categories<span class="arrow-down"></span></a>
              <div class="categories-menu">
                <div class="flavours-child">
                  <div class="flavours-item">
                    <button (mouseenter)="onHover('birthday')" (click)="goToStore('birthday')">Birthday Cakes</button><br>
                    <button (mouseenter)="onHover('anniversary')" (click)="goToStore('anniversary')">Anniversary Cakes</button><br>
                    <button (mouseenter)="onHover('kids')" (click)="goToStore('kids')">Kids Cakes</button><br>
                    <button (mouseenter)="onHover('bento')" (click)="goToStore('bento')">Bento Cakes</button><br>
                    <button (mouseenter)="onHover('cupcake')" (click)="goToStore('cupcakeo')">Cup Cakes</button><br>
                    <!-- <button (mouseenter)="onHover('Photo')" (click)="goToStore('Photo')">Pinata Cakes</button><br>
                    <button (mouseenter)="onHover('Photo')" (click)="goToStore('Photo')">Entertainment Cakes</button><br> -->
                  </div>

                </div>
                <div class="vertical-line"></div>
                <div class="flavours-child">
                  <div class="flavours-image"style>
                    <img class="hover-img" [src]="hoverUrl" [alt]="hoverAlt">
                  </div>
                </div>
              </div>
            </li>

            <li class="popular"><a style="color: black;">Trending<span class="arrow-down"></span></a>
              <div class="popular-menu">
                <div class="flavours-child">
                  <div class="flavours-item">
                    <button (mouseenter)="onHover('Pinata')" (click)="goToStore('Pinata')">Pinata Cakes</button><br>
                    <button (mouseenter)="onHover('Bento')" (click)="goToStore('Bento')">Bento Cakes</button><br>
                    <button (mouseenter)="onHover('Pastel')" (click)="goToStore('Pastel')">Pastel Cakes</button><br>
                    <button (mouseenter)="onHover('Comic')" (click)="goToStore('Comic')">Comic Cakes</button><br>
                    <button (mouseenter)="onHover('Super')" (click)="goToStore('Super')">Super Hero Cakes</button><br>
                  </div>

                </div>
                <div class="vertical-line"></div>
                <div class="flavours-child">
                  <div class="flavours-image"style>
                    <img class="hover-img" [src]="hoverUrl" [alt]="hoverAlt">
                  </div>
                </div>
              </div>
            </li>

            <li class="theme"><a style="color: black;">Theme<span class="arrow-down"></span></a>
              <div class="theme-menu">
                <div class="flavours-child">
                  <div class="flavours-item">
                    <button (mouseenter)="onHover('Football')" (click)="goToStore('Football')">Football Cakes</button><br>
                    <button (mouseenter)="onHover('Harry Potter')" (click)="goToStore('Harry Potter')">Harry Potter Cake</button><br>
                    <button (mouseenter)="onHover('Unicorn')" (click)="goToStore('Unicorn')">Unicorn Cakes</button><br>
                    <button (mouseenter)="onHover('Avengers')" (click)="goToStore('Avengers')">Avengers Cakes</button><br>
                    <button (mouseenter)="onHover('Classic')" (click)="goToStore('Classic')">Classic Cakes</button><br>
                  </div>

                </div>
                <div class="vertical-line"></div>
                <div class="flavours-child">
                  <div class="flavours-image"style>
                    <img class="hover-img" [src]="hoverUrl" [alt]="hoverAlt">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="nav-bg-fostrap">
          <div class="navbar-fostrap"> <span></span> <span></span> <span></span> </div>
          <a href="" class="title-mobile">Fostrap</a>
        </div>
      </nav>
      <div>
      <div style="height: 30rem;
      transition: all 3s;background-image: url('{{urlarray[counter]}}');background-repeat: no-repeat; background-attachment: fixed;
  background-size: cover;">
        <div class="caroselslider">
          <img src="./../../assets/icon-resource/atelier-text.png">
        </div>
      </div>


      <div style="width:auto;height:40rem;margin-top: 25px;">
        <p-carousel [value]="cakes" [numVisible]="4" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item">
              <app-cake [cake]="product"></app-cake>
          </ng-template>
      </p-carousel>
      </div>
      <div class="sticky-chat" (click)="onChatClicked()">
        <div class="chat-icon" style="position: relative;">
          <img class="chat-img" src="./../../assets/icon-resource/chat-sticky.png" alt="">
          <span>Chat with Chef</span>
        </div>
      </div>
    </div>
      <footer role="contentinfo" aria-label="Footer">
        <div class="_cont">
          <div class="socials">
            <div style="margin-bottom: 96px">
            <img style="width: 250px;height: 88px;" src="./../../assets/icon-resource/FSSAI_logo.png" alt="">
            <br>
            <span style="margin-left: 87px;;">Registered</span>
            <br>
            </div>
            <strong>follow us:</strong>
            <ul>
              <!-- <li><a href="" title="html-koder / test on Twitter" class="tw" target="_blank">Twitter</a></li> -->
              <li><a href="https://www.facebook.com/TheCakeAtelier21?mibextid=ZbWKwL" title="html-koder / test on Facebook" class="fb" target="_blank">Facebook</a></li>
              <li><a href="https://instagram.com/the.cake.atelier.21?igshid=MzRlODBiNWFlZA==" title="html-koder / test on Instagram" class="in" target="_blank">Instagram</a></li>
              <li><a href="https://in.pinterest.com/thecakeatelier21/?invite_code=578bac65736d4d63b8ff0a02cbd1079d&sender=746260738162765150"  class="pi" target="_blank">Pinterest</a></li>
            </ul>
          </div>
          <div class="top">
            <div class="right">

            </div>
            <div class="left">
              <span class="phone">(+91) 84205-12317</span>
              <a class="mail" href="the.cake.atelier.21@gmail.com">the.cake.atelier.21@gmail.com</a>
            </div>

          </div>
          <div class="bottom">
            <div class="left">
              <nav role="navigation" aria-label="Service menu">
                <ul>
                  <li><a >Kaushani Adhikari</a></li>
                  <li><a >About Us</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </footer>
</main>
